body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff9900;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.camera-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.camera-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.camera-item img {
    width: 100%;
    height: auto;
}

.order-form {
    margin-top: 20px;
}

.order-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.order-form label {
    margin: 5px 0;
}

.order-form input,
.order-form select,
.order-form button {
    padding: 5px;
    margin: 5px 0;
}

.order-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: #e65c00;
}

/* Gaya Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .contact, footer .address {
    width: 45%;
    margin: 10px 0;
}

footer .contact h3, footer .address h3 {
    margin-top: 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ff9900;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}